<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <%- include ('parches/head.html') %>
</head>
<body>
    <%- include ('parches/navegacion.html') %>

 <div class="animate__animated animate__jackInTheBox">  
    <div class="conteiner p-5">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card-header bg-dark text-white text-center">
                    <h3>Contactame</h3>
                </div>
                <div class="card-body">
                    <form action="">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="" cols="30" rows="10" placeholder="Mnesaje"></textarea>
                        </div>
                        <div class="form-control col text-center">
                            <button class="btn btn-primary">
                                Enviar Mensaje
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div> 
    <%- include ('parches/footer.html') %>
</body>
</html