<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firts Node - JlCastañeda</title>
    
    <%- include ('parches/head.html') %>
    
</head>
<body>
   <%- include ('parches/navegacion.html') %>
   
<div class="animate__animated animate__pulse">
    <div class="conteiner">
        <header class="row">
            <div class="col-lg-12 text-center">
                <img src="/ima/logo.png" alt="Views Logo">
            </div>
        </header>
    </div>
</div>
<!--SECTION ONE-->
<div class="conteiner-fluid" id="about">
    <div class="row bg-dark text-white p-5 text-center">
        <div class="col-sm-6">
            <img src="/ima/icono_exito2.png"  alt="Exito">
        </div>  
        <div class="col-sm-6">
            <h1>Bienvenido a un sitio creado con Node.js</h1>
            <p>Este sitio fue desarrollado con la tecnologia de Node.js la cual ofrece
            muchas ventajas, ya que es un entorno de ejecución de Javascript del lado del servidor.
            Asi mismo para demostrar mi conocimineto en esta tecnologia con tanto impacto y indispensable en la actualidad cuando se habla de FullsStack.
            </p>
        </div> 
    </div>
</div>

<%- include ('parches/footer.html') %>
</body>
</html>